:root {
    --header-color: #394150;
    --body-color: #4D5562;
    --background-color: #EDF0F3;
}

body {
    font-family: sans-serif;
    color: var(--body-color);
    background-color: var(--background-color);

}

h1 {
    color: var(--header-color);
    text-align: center;
}

p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0rem 1rem;
}

/* NAVBAR SECTION */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 2.5rem;
}

.navbar a:hover {
    text-decoration: underline;
}


/* LANDING PAGE SECTION */
.landing-page {
    margin: 0rem 3rem
}

.landing-page-name {
    color: #4b55dd
}

.bio-link {
    text-decoration: none;
}

/* ABOUT SECTION */
.flexbox-container {
    display: flex;
    flex-direction: row;
}

.profile_icon {
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 200px;
    margin: 0rem 2rem;
}